doctype html
html(lang="en")
  head
    title book
    meta(content='', name='description')
    meta(content='Rick Chen', name='author')
    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body
    block toc
    block content
